:root {
  --size-photo: 170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background-image: linear-gradient(45deg, #006769, #40A578, #9DDE8B, #E6FF94);
  background-size: 500% 100%;
  animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
  background-color: transparent;
}

#presentation img {
  background-color: white;
  height: var(--size-photo);
  width: var(--size-photo);
  border-radius: 50%;
  padding: 5px;
}

#presentation article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presentation article p {
  font-size: 1.05rem;
}

#presentation article h1 {
  font-size: 1.7rem;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
  width: 100%;
  justify-content: center;
  background-color: transparent;
}

#link-list {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 60%;
  min-width: 100px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 10px;
}

.link {
  list-style: none;
  display: inline-block;
  width: 90%;
  height: 70px;
  text-align: center;
  line-height: 40px;
  background-color: black;
}

.link a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.link-button {  
  width: 100%;
  height: 100%;
  border: 2px solid black;
  font-size: medium;
  background-color: white;
  cursor: pointer;
  padding: 20px;
  transform: translateX(-5px) translateY(-5px);
}

.link-button:active {
    transform: translateX(0) translateY(0);
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  width: 100%;
  background-color: transparent;
}

footer p {
  text-align: center;
}

@media (max-width: 768px) {
  #link-list {
    width: 100%;
    padding: 10px;
  }

  #presentation img {
    height: 120px;
    width: 120px;
  }

  header {
    height: 35%;
  }

  footer {
    height: auto;
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}