* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tamanho-foto-perfil: 150px;
    --z-index-conteudo: 10;
    --border-radio-foto: 50%;
    --cor-background-color-foto: transparent;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, #006769, #40A578, #9DDE8B, #E6FF94);
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

#apresentacao {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 40%;
}

.conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    width: 20%;
    height: 90%;
    top: 15%;
    gap: 10px;
}

.eu {
    background-color: transparent;
    position: relative;
    text-align: center;
    z-index: var(--z-index-conteudo);
    margin-top: 15px;
}

.capa {
    position: absolute;
    height: 60%;
    width: 100%;
    bottom: 9%;
    border-radius: 15px;
    background-color: var(--cor-background-color-foto);
}

.foto-perfil {
    background-color: aliceblue;
    height: var(--tamanho-foto-perfil);
    width: var(--tamanho-foto-perfil);
    z-index: var(--z-index-conteudo);
    border-radius: var(--border-radio-foto);
    padding: 5px;
}

#foto-perfil {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radio-foto);
    object-fit: cover;
    z-index: 1;
}

#linkador {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.links {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 70%;
    width: 90%;
    gap: 15px;
    transform: translateY(-5%);
}

.links li {
    position: relative;
    background-color: black;
    height: 20%;
    width: 40%;
}

.btn-link {
    position: relative;
    border: 2px solid black;
    height: 100%;
    width: 100%;
    transform: translateX(-5px) translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.5);
    font-size:medium;
}

.btn-link:checked {
    transform: translateX(-0px) translateY(-0px);
}

.posicao-inicial {
    transform: translateX(0px) translateY(0px); 
}

footer {
    background-color: transparent;
    position: relative;
    color: black;
    width: 100%;
    text-align: center;
    bottom: 0;
}

footer a {
    color: black;
}

.segoe-ui {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 768px) {

    body {
        height: calc(100vh - 50px);
    }

    .conteudo {
        width:  80%;
        justify-content: center;
    }

    .links li {
        height: 15%;
        width: 80%;
        bottom: 8%;
    }

    footer {
        font-size: small;
    }
}
  